@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



html,
body {
  scroll-behavior: smooth;
}



.active {
  opacity: 1;
  font-weight: bolder;
}

.layout {
  max-width: 68.75rem;
  @apply w-11/12 mx-auto;
}

@layer base {
  h1 {
    @apply text-4xl
  }

  h2 {
    @apply text-2xl md:text-3xl
  }

  p {
    @apply text-sm md:text-base
  }

  strong {
    @apply font-medium text-gray-600
  }


}

@layer utilities {


  .max-container {
    @apply mx-auto max-x-[14440px];
  }

  .padding-container {
    @apply p-6 lg:p-20 xl:p-20;
  }

  .flexCenter {
    @apply flex items-center justify-center;
  }

  .flexBetween {
    @apply flex items-center justify-between;
  }

  .flexStart {
    @apply flex items-center justify-start;
  }

  .flexEnd {
    @apply flex items-center justify-end;
  }

}